@import 'https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400';
$primary-color: #e2b714;
$sub-alt-color: #2c2e31;
$text-color: #d1d0c5;
$background-color: #323437;
$font-stack: "Roboto Mono", "Roboto Mono", "Vazirmatn";
$wrong-color: #ca4754;
$right-color: #43B929;
$sub-color: #646669;