@import 'https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400';
$font-stack: Helvetica, sans-serif;
$primary-color: #e2b714;
$secondary-color: #2c2e31;
$text-color: #d1d0c5;
$background-color: #323437;
$font-stack: "Roboto Mono", "Roboto Mono", "Vazirmatn";