@import '_variables';

body {
    font: 100% $font-stack;
    
    background-color: $background-color;
    color: $text-color;
    
    display: grid;
    justify-items: center;
    overflow-x: hidden;
    
    .synonym {
        font-size: 2rem;
    }

    .centerContent {
        align-self: center;
        justify-items: center;
        align-items: center;
        display: grid;
        gap: 2rem;
        grid-auto-flow: row;
        max-width: 1000px;
        padding-top: 2rem;
        padding-bottom: 2rem;
        width: 100%;
        z-index: 999;


        .wordList {
            background-color: $sub-alt-color;
            min-width: 12rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            text-align: center;
            border-radius: 0.5rem;

            div {
                padding: 0.5rem 1rem; 
            }
            .small {
                font-size: 10px;
            }
        }
    }

    input {
        display: block;
        border: none;
        font-family: $font-stack;
        padding: 0.5rem;

        &:focus {
            outline: none;
        }
        &::placeholder{
            text-align: center;
        }
    }

    button {
        display: block;
        background-color: $sub-alt-color;
        color: $sub-color;
        border: none;
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-family: $font-stack;
        font-size: 12px;

        &:focus {
            outline: none;
        }
        &::placeholder{
            text-align: center;
        }
        &:hover {
            color: $text-color;
        }
    }

    // .facit{
    //     align-self: center;
    //     justify-items: center;
    //     align-items: center;
    //     display: grid;
    //     gap:0.5rem 1rem;
    //     text-align: center;
    //     font-size: 14px;
    //     color: $primary-color;
    //     .word{
    //         text-align: center;
    //         font-size: 12px;
    //         margin: 0.5rem;
    //     }
    // }
}